.orderForm {
  padding: 20px;
}

.coffeeList {
  button {
    width: 100%;
    margin-bottom: 10px;
    &:hover {
      background: #5d5c5c !important;
    }
    &.selected {
      background: #5d5c5c !important;
    }
  }
}

.submitBtn {
  width: 100%;
  margin-top: 20px;
}

.errorMessage {
  .card-panel {
    padding: 10px;
  }
}