<div class="orderForm">
  <h4>Order Form</h4>
  <form [formGroup]="form">
    <div class="row">
      <div class="input-field col s6">
        <input id="orderNumber" type="text" formControlName="orderNumber" class="validate">
        <label for="orderNumber">Order Number</label>
      </div>
      <div class="input-field col s6">
        <input id="customerName" type="text" formControlName="customerName" class="validate">
        <label for="customerName">Customer Name</label>
      </div>
    </div>
  </form>

  <div class="coffeeList row">
    <div class="col s4" *ngFor="let coffee of coffees">
      <button class="waves-effect waves-light btn grey {{isCoffeeSelected(coffee)?'selected':''}}" (click)="addCoffee(coffee)">
      {{coffee}}
      </button>
    </div>
  </div>
  <!-- <ul class="collection">
      <li *ngFor="let coffee of coffeeOrder">
          <span class="col s11"> {{ coffee }} </span>
          <a class="col s1" (click)="removeCoffee(coffee)">x</a>
      </li>
  </ul> -->

  <div class="errorMessage" *ngIf="hasMessage">
    <div class="green lighten-1 card-panel white-text" *ngFor="let message of errors">{{message}}</div>
  </div>
  <div class="errorMessage" *ngIf="hasError">
    <div class="red lighten-3 card-panel white-text" *ngFor="let error of errors">{{error}}</div>
  </div>

  <button class="waves-effect waves-light btn submitBtn" (click)="onSubmit()">Submit</button>
</div>

