<div class="orderTable">
  <h4>Orders List</h4>
  <table class="table table-stripe">
    <thead>
      <tr>
        <th>Ordered Date</th>
        <th>Order No</th>
        <th>Customer Name</th>
        <th>Order Items</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of coffeeOrders">
         <td>{{ order.orderedDate | date:'medium' }}</td>
         <td>{{ order.orderNumber }}</td>
         <td>{{ order.customerName }}</td>
         <td>
          <span *ngFor="let coffee of order.coffeeOrder">
             {{ coffee }},
          </span>
         </td>
         <td><span>{{order.isCompleted ? "Completed" : "Pending"}}</span></td>
         <td>
          <a href="#" title="Order Delivered" [hidden]="order.isCompleted"><i class="material-icons" (click)="markCompleted(order)">check</i></a>
          <a href="#" title="Delete Order" class="text-lighten-2 red-text"><i class="material-icons" (click)="deleteOrder(order)">delete_forever</i></a>
        </td>
      </tr>
      <tr *ngIf="coffeeOrders.length==0">
        <td colspan="6">No orders yet</td>
      </tr>
    </tbody>
  </table>
</div>